@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3 task-list">
        <h2>To do:</h2>
        <ul id="ToDoList">
            @foreach (var todo in Model.ToDo) {
                <li id="@todo.Id"><h5>@todo.Name</h5><br/><a href="#" onclick="start('@todo.Id');">Start</a></li>
            }
        </ul>
    </div>
    <div class="col-md-3 task-list">
        <h2>In Progress:</h2>
        <ul id="InProgressList">
             @foreach (var inp in Model.InProgress) {
                <li id="@inp.Id"><h5>@inp.Name</h5><br/><a href="#" onclick="drop('@inp.Id');">Drop</a>&nbsp;|&nbsp;<a href="#" onclick="start('@inp.Id');">Finish</a></li>
            }
        </ul>
    </div>
    <div class="col-md-3 task-list">
        <h2>Done:</h2>
        <ul id="DoneList">
            @foreach (var done in Model.Done) {
                <li id="@done.Id"><h5>@done.Name</h5><br/><a href="#" onclick="reTake('@done.Id');">Retake</a></li>
            }
        </ul>
    </div>
</div>
